.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.card{
  background-color: #da9b26;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  transition: transform 0.2s;}

  restro-card:hover {
    transform: scale(1.05);
  }

  .restro-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .input-search {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }